<h1>Sign up</h1>

<%= form_for(@user) do |f| %>
    <%= f.label :email_address %>
    <%= f.text_field :email_address %><br><br>
    <%= f.label :password %>
    <%= f.password_field :password %><br><br>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %><br><br>
    <%= f.submit %>
<% end %>
  