<h1>Library</h1>

<h3>Find a book:</h3>
<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<% if @request %>
  <table>
    <tr>
      <th>Book Title</th>
      <th>Author</th>
      <th>Action</th>
    </tr>
      <% @request.each do |book| %>
        <tr>
          <td><%= title = book["volumeInfo"]["title"] %></td>
          
          <% if book["volumeInfo"]["authors"].present? %>
            <td><%=author = book["volumeInfo"]["authors"].first %></td>
          <% else %>
            <td><%= nil %></td>
          <% end %>

          <% if @current_user.book_exist(title) %>
            <% existing_book = @current_user.book_exist(title) %>
            <%= form_tag remove_from_reading_list_via_api_path, method: 'delete' do %>
             <%= hidden_field_tag :search, @search %>
             <%= hidden_field_tag :book_id, existing_book.id %>
              <td><%= submit_tag :"Remove from Reading List" %></td>
            <% end %>
          <%else%>
            <td><%=link_to "Add to reading list" %></td>
          <% end %>

        </tr>
      <% end %>
    </table>
<% else %>
  <table>
    <tr>
      <th>Book Title</th>
      <th>Action</th>
    </tr>
      <% @books.each do |book| %>
        <tr>
          <td><%= link_to book.title, book %></td>
          <% if @current_user.books.include?(book) %>
            <td><%= link_to "Remove from reading list", "/remove_from_reading_list/#{book.id}",{method: "delete"} %></td>
          <% else %>
            <td><%= link_to "Add to reading list", "/add_to_reading_list/#{book.id}",{method: "post"} %></td>
          <% end %>
        </tr>
      <% end %>
      </tr>
  </table>
<% end %>