<h1 class="text-center mt-2">Library</h1>

<h3>Find a book:</h3>
<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<% if @request %>
  <table>
    <tr>
      <th>Book Title</th>
      <th>Author</th>
      <th>Action</th>
    </tr>
      <% @request.each do |book| %>
        <tr>
          <td><%= title = book["volumeInfo"]["title"] %></td>
          
          <% if book["volumeInfo"]["authors"].present? %>
            <td><%=author = book["volumeInfo"]["authors"].first %></td>
          <% else %>
            <td><%= nil %></td>
          <% end %>

          <% if @current_user.book_exist(title) %>
            <% existing_book = @current_user.book_exist(title) %>
            <%= form_tag remove_from_reading_list_via_api_path, method: 'delete' do %>
             <%= hidden_field_tag :search, @search %>
             <%= hidden_field_tag :book_id, existing_book.id %>
             <%= hidden_field_tag :author_id, existing_book.author.name %>
              <td><%= submit_tag :"Remove from Reading List" %></td>
            <% end %>
          <%else%>
            <%= form_tag add_to_reading_list_via_api_path, method: 'post' do %>
              <%= hidden_field_tag :search, @search %>
              <%= hidden_field_tag :"book[title]", title %>
              <%= hidden_field_tag :"book[synopsis]", book["volumeInfo"]["description"] %>
              <%= hidden_field_tag :"book[published_date]", book["volumeInfo"]["publishedDate"] %>
              <%= hidden_field_tag :"book[genre]", book["volumeInfo"]["categories"] %>
              <%= hidden_field_tag :"book[author]", author %>
              <td><%=submit_tag :"Add to reading list" %></td> 
            <% end %>
          <% end %>

        </tr>
      <% end %>
    </table>
<% end %>
