<h1><%= @book.title %></h1>
<h3>Author: <%= link_to @book.author_name, author_path(@book.author) %></h3>
<h3>Genre: <%= @book.genre_name %></h3>

<h3>Synopsis: </h3>
<p><%= @book.synopsis %></p>

<h3>Reviews:</h3>
<p><%= link_to "Add Review", new_review_path(book_id: @book.id) %></p>

<br>

<% @book.reviews.each do |review| %>
    <%= review.user_email_address %> - <%= review.rating %>/5<br>
    "<%= review.content %>"<br>
    <% if review.user_id == @current_user.id %>
        <%= link_to "edit", edit_review_path(id: review.id, book_id: @book.id), method:'get' %>  
        <%= link_to "delete", review_path(id: review.id, book_id: @book.id), method:'delete' %>  
    <% end %>
    <br><br>
<% end %>