<!DOCTYPE html>
<html>
  <head>
    <title>ReadIt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <%# HOME MENU %>
  <nav>
    <ul>
      <% if !@current_user.nil? %>
        <li class="home_menu"><%= link_to "library", books_path %></li>
        <li class="home_menu"><%= link_to "my reading list", reading_list_path %></li>
        <li class="user_menu"><%= link_to "settings", edit_user_path(@current_user) %></li>
        <li class="user_menu"><%= link_to "log out", logout_path, {method: 'post'} %></li>
      <% end %>
    
    </ul>
  </nav>

  <%# HANDLING ERROR MESSAGES %>
  <% if flash[:errors] %>
    <h2>OOPS something went wrong with the below:</h2>
      <% flash[:errors].each do |error| %>
        <%= error %>
      <% end %>
  <% end %>

  <%# HANDLING NOTICE MESSAGES %>

  <% if flash[:notices] %>
    <ul>
      <% flash[:notices].each do |notice| %>
        <li><%= notice %></li>
      <% end %>
    </ul>  
  <% end %>
  
    <%= yield %>

  </body>

</html>
