<!DOCTYPE html>
<html>
  <head>
    <title>ReadIt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <%# HOME MENU %>
  <%= link_to "Library", books_path %>

  <% if !@current_user.nil? %>
    <%= link_to "My Reading List", reading_list_path %>
    <%= link_to "Settings", edit_user_path(@current_user) %>
    <%= link_to "Log out", logout_path, {method: 'post'} %>
    <%= @current_user.email_address %>
  <% end %>

  <%# HANDLING ERROR MESSAGES %>
  <% if flash[:errors] %>
    <h2>OOPS something went wrong with the below:</h2>
      <% flash[:errors].each do |error| %>
        <%= error %>
      <% end %>
  <% end %>

  <%# HANDLING NOTICE MESSAGES %>

  <% if flash[:notices] %>
    <ul>
      <% flash[:notices].each do |notice| %>
        <li><%= notice %></li>
      <% end %>
    </ul>  
  <% end %>

    <%= yield %>
  </body>
</html>
