<!DOCTYPE html>
<html>
  <head>
    <title>Read.it</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
<link href="https://fonts.googleapis.com/css?family=Lobster|Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%# HOME MENU %>
  
    <nav class="navbar navbar-expand-lg">
    <img class = "logo mr-4" src = "https://i.imgur.com/aDPJrpi.png" alt = "Paige Turner" height = 10% width = 10% >
    <ul class="navbar-nav">
        <li class="nav-item mr-3 strapline nav-link">Read.it!</li>
      <% if !@current_user.nil? %>
        <li class="nav-item mt-3 mr-3"><%= link_to "reading list", reading_list_path, class:"nav-link small-caps" %></li>
        <li class="nav-item mt-3 mr-3"><%= link_to "library", books_path, class:"nav-link small-caps" %></li>
        <li class="nav-item mt-3 mr-3"><%= link_to "settings", edit_user_path(@current_user), class:"nav-link small-caps" %></li>
        <li class="nav-item mt-3 mr-3"><%= link_to "log out", logout_path, {method: 'post', class:"nav-link small-caps flex-end"} %></li>
        </ul>
      <% end %>
      
    
  </nav>


  <%# HANDLING ERROR MESSAGES %>
  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <div class="container mt-3 ml-0">
      <div class="row">
        <div class="alert alert-danger col0"><%= error %></div>
      </div>
    </div>
    <% end %>
  <% end %>

  <%# HANDLING NOTICE MESSAGES %>
  <% if flash[:notices] %>
    <% flash[:notices].each do |notice| %>
    <div class="container mt-3 ml-0">
      <div class="row">
        <div class="alert alert-success col0"><%= notice %></div>
      </div>
    </div>
    <% end %>
  <% end %>
  
    <%= yield %>

  </body>


</html>
