<!DOCTYPE html>
<html>
  <head>
    <title>Read.it</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="m-3">

  <%# HOME MENU %>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav">
      <% if !@current_user.nil? %>
        <li class="nav-item mr-3"><%= link_to "my reading list", reading_list_path, class:"nav-link small-caps" %></li>
        <li class="nav-item mr-3"><%= link_to "library", books_path, class:"nav-link small-caps" %></li>
        <li class="nav-item mr-3"><%= link_to "settings", edit_user_path(@current_user), class:"nav-link small-caps" %></li>
        <li class="nav-item mr-3"><%= link_to "log out", logout_path, {method: 'post', class:"nav-link small-caps flex-end"} %></li>
      <% end %>
    </ul>
  </nav>

  <%# HANDLING ERROR MESSAGES %>
  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <div class="container mt-3 ml-0">
      <div class="row">
        <div class="alert alert-danger col0"><%= error %></div>
      </div>
    </div>
    <% end %>
  <% end %>

  <%# HANDLING NOTICE MESSAGES %>
  <% if flash[:notices] %>
    <% flash[:notices].each do |notice| %>
    <div class="container mt-3 ml-0">
      <div class="row">
        <div class="alert alert-success col0"><%= notice %></div>
      </div>
    </div>
    <% end %>
  <% end %>
  
    <%= yield %>

  </body>

</html>
