<!DOCTYPE html>
<html>
  <head>
    <title>ReadIt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <%# HOME MENU %>
  <%= link_to "Library", books_path %>

  <% if !@current_user.nil? %>
    <%= link_to "My Reading List", reading_list_path(@current_user.reading_list) %>
    Settings
    <%= link_to "Log out", logout_path, {method: 'post'} %>
    <%= @current_user.email_address %>
  <% end %>

  <%# HANDLING ERROR MESSAGES %>
  <% if flash[:errors] %>
    <h2>OOPS something went wrong with the below:</h2>
    <ul>
      <% flash[:errors].each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>

    <%= yield %>
  </body>
</html>
